<!DOCTYPE html>
<html lang="en">
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="refresh" content="30">
        <title>Dashboard</title>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <link rel="stylesheet" href="https://bootswatch.com/5/vapor/bootstrap.min.css">  
    </head>
    <body>
        <h1>Dashboard</h1>
        <div id="plot">
        </div>
    </body>
    <script>
        Plotly.newPlot("plot", {{ plot_data | safe }})
    </script>
</html>